html {
  font-size: 14px; /* Default font size */

  /* Media query for tablet */
  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 12px;
  }

  /* Media query for mobile */
  @media (max-width: 768px) {
    font-size: 10px;
  }
}
